.container {
  display: flex;
  flex-direction: row;
  background-color: #fffcf6;
}

.page {
  width: 80%;
  height: 95%;
  margin: 1.5% 1% 1% 1%
}

.header {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 23px;
  color: #006a6a;
}

.btn {
  width: 20%;
  height: 50%;
  border-radius: 1em;
  color: #efeee5;
  border: 1px solid #efeee5;
  background-color: #006a6a;
  color: white;
}